# macOS
.DS_Store
DS_Store

# IDE / Editor
.idea/
*.iml

# Server
.env
*.pyc
sessions.json
server/data/*
.json
*.log
*.sqlite3
*.sqlite
*.db

# Node.js
miniprogram/node_modules/*

prompt.md

# cursor rules
.cursorrules
.cursor/

