# macOS
.DS_Store
DS_Store

# IDE / Editor
.idea/
*.iml

# Server
.env
*.pyc
sessions.json
server/data/*
.json
*.log
*.sqlite3
*.sqlite
*.db

# Node.js
miniprogram/node_modules/*

prompt.md

# cursor rules
.cursorrules
.cursor/

/server/models--Qwen--Qwen3-Embedding-0.6B/
/server/models--tomaarsen--Qwen3-Reranker-0.6B-seq-cls/
/server/qwen_embeddings/
/server/qwen_reranker/

